/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Authentix API
 *  Reach Authentix API helps you easily integrate user authentification in your application. The authentification allows to verify that a user is indeed at the origin of a request from your application.  At the moment, the Reach Authentix API supports the following channels:    * SMS      * Email   We are continuously working to add additionnal channels. ## Base URL All endpoints described in this documentation are relative to the following base URL: ``` https://api.reach.talkylabs.com/rest/authentix/v1/ ```  The API is provided over HTTPS protocol to ensure data privacy.  ## API Authentication Requests made to the API must be authenticated. You need to provide the `ApiUser` and `ApiKey` associated with your applet. This information could be found in the settings of the applet. ```curl curl -X GET [BASE_URL]/configurations -H \"ApiUser:[Your_Api_User]\" -H \"ApiKey:[Your_Api_Key]\" ``` ## Reach Authentix API Workflow Three steps are needed in order to authenticate a given user using the Reach Authentix API. ### Step 1: Create an Authentix configuration A configuration is a set of settings used to define and send an authentication code to a user. This includes, for example: ```   - the length of the authentication code,    - the message template,    - and so on... ``` A configuaration could be created via the web application or directly using the Reach Authentix API. This step does not need to be performed every time one wants to use the Reach Authentix API. Indeed, once created, a configuartion could be used to authenticate several users in the future.    ### Step 2: Send an authentication code A configuration is used to send an authentication code via a selected channel to a user. For now, the supported channels are `sms`, and `email`. We are working hard to support additional channels. Newly created authentications will have a status of `awaiting`. ### Step 3: Verify the authentication code This step allows to verify that the code submitted by the user matched the one sent previously. If, there is a match, then the status of the authentication changes from `awaiting` to `passed`. Otherwise, the status remains `awaiting` until either it is verified or it expires. In the latter case, the status becomes `expired`. 
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/url"
	"strings"

)


// Optional parameters for the method 'CheckAuthenticationCode'
type CheckAuthenticationCodeParams struct {
    // The phone number or email being authenticated. Phone numbers must be in E.164 format. Either this parameter or the `authenticationId` must be specified.
    Dest *string `json:"dest,omitempty"`
    // The 4-10 character string being verified. This is required for `sms` and `email` channels.
    Code *string `json:"code,omitempty"`
    // The ID of the authentication being checked. Either this parameter or the to `dest` must be specified.
    AuthenticationId *string `json:"authenticationId,omitempty"`
    // Information related to the digital payment to authenticate. It is required when `usedForDigitalPayment` is true. It is ignored otherwise. It is a stringfied JSON map where keys are `payee`, `amount`, and `currency` and the associated values are respectively the payee, the amount, and the currency of a financial transaction. 
    PaymentInfo *string `json:"paymentInfo,omitempty"`
}

func (params *CheckAuthenticationCodeParams) SetDest(Dest string) (*CheckAuthenticationCodeParams){
    params.Dest = &Dest
    return params
}
func (params *CheckAuthenticationCodeParams) SetCode(Code string) (*CheckAuthenticationCodeParams){
    params.Code = &Code
    return params
}
func (params *CheckAuthenticationCodeParams) SetAuthenticationId(AuthenticationId string) (*CheckAuthenticationCodeParams){
    params.AuthenticationId = &AuthenticationId
    return params
}
func (params *CheckAuthenticationCodeParams) SetPaymentInfo(PaymentInfo string) (*CheckAuthenticationCodeParams){
    params.PaymentInfo = &PaymentInfo
    return params
}

// This operation allows check the correctness of a code provided by the end user. This operations only concerns authentication in `awaiting` state.   In case a check is performs on an authentication whose status is different from `awaiting`, an 404 HTTP response is returned. 
func (c *ApiService) CheckAuthenticationCode(ConfigurationId string, params *CheckAuthenticationCodeParams) (*AuthenticationControlItem, error) {
    path := "/rest/authentix/v1/configurations/{configurationId}/authentication-controls"
        path = strings.Replace(path, "{"+"configurationId"+"}", ConfigurationId, -1)

data := url.Values{}
headers := make(map[string]interface{})

if params != nil && params.Dest != nil {
    data.Set("dest", *params.Dest)
}
if params != nil && params.Code != nil {
    data.Set("code", *params.Code)
}
if params != nil && params.AuthenticationId != nil {
    data.Set("authenticationId", *params.AuthenticationId)
}
if params != nil && params.PaymentInfo != nil {
    data.Set("paymentInfo", *params.PaymentInfo)
}



    resp, err := c.requestHandler.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &AuthenticationControlItem{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
