/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Messaging API
 * Reach SMS API helps you add robust messaging capabilities to your applications.  Using this REST API, you can * send SMS messages * track the delivery of sent messages * schedule SMS messages to send at a later time * retrieve and modify message history
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi

import (
	"encoding/json"
	"net/url"

)


// Optional parameters for the method 'UpdateMessage'
type UpdateMessageParams struct {
    // The identifier of the message to be updated.
    MessageId *string `json:"messageId,omitempty"`
    // The text to be newly associated with the message.
    Body *string `json:"body,omitempty"`
}

func (params *UpdateMessageParams) SetMessageId(MessageId string) (*UpdateMessageParams){
    params.MessageId = &MessageId
    return params
}
func (params *UpdateMessageParams) SetBody(Body string) (*UpdateMessageParams){
    params.Body = &Body
    return params
}

// This operation allows to update the body of a message. It is primarily used to redact the content of message while leaving all the other properties untouched.  This operation needs the `messageId` of the message to be updated. It also requires the `body` that will be newly associated with the message. To update multiple messages, this operation should be called as many times as needed since it can only update one message at a time.  Note: The previous body of the message is the one that is sent to the destination phone number. This operation just update the `body` in the API platform. 
func (c *ApiService) UpdateMessage(params *UpdateMessageParams) (*MessageItem, error) {
    path := "/rest/messaging/v1/update"
    
data := url.Values{}
headers := make(map[string]interface{})

if params != nil && params.MessageId != nil {
    data.Set("messageId", *params.MessageId)
}
if params != nil && params.Body != nil {
    data.Set("body", *params.Body)
}



    resp, err := c.requestHandler.Post(c.baseURL+path, data, headers)
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &MessageItem{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
}
