/*
 * This code was generated by
 *  ___ ___   _   ___ _  _    _____ _   _    _  ___   ___      _   ___ ___      ___   _   ___     ___ ___ _  _ ___ ___    _ _____ ___  ___ 
 * | _ \ __| /_\ / __| || |__|_   _/_\ | |  | |/ | \ / / |    /_\ | _ ) __|___ / _ \ /_\ |_ _|__ / __| __| \| | __| _ \  /_\_   _/ _ \| _ \
 * |   / _| / _ \ (__| __ |___|| |/ _ \| |__| ' < \ V /| |__ / _ \| _ \__ \___| (_) / _ \ | |___| (_ | _|| .` | _||   / / _ \| || (_) |   /
 * |_|_\___/_/ \_\___|_||_|    |_/_/ \_\____|_|\_\ |_| |____/_/ \_\___/___/    \___/_/ \_\___|   \___|___|_|\_|___|_|_\/_/ \_\_| \___/|_|_\
 * 
 * Reach Messaging API
 * Reach SMS API helps you add robust messaging capabilities to your applications.  Using this REST API, you can * send SMS messages * track the delivery of sent messages * schedule SMS messages to send at a later time * retrieve and modify message history
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package openapi

import (
	"net/url"

)


// Optional parameters for the method 'DeleteMessage'
type DeleteMessageParams struct {
    // The identifier of the message to be updated.
    MessageId *string `json:"messageId,omitempty"`
}

func (params *DeleteMessageParams) SetMessageId(MessageId string) (*DeleteMessageParams){
    params.MessageId = &MessageId
    return params
}

// This operation allows to delete a message record from the applet account. Once the record is deleted, it will no longer appear in the API and the applet portal.  This operation needs the `messageId` of the message to be deleted. To delete multiple messages, this operation should be called as many times as needed since it can only delete one message at a time. Note: Attempting to delete an in-progress message record, i.e. a message whose status is not `delivered`, `failed`, `canceled`, `undelivered`, will result in an error.   
func (c *ApiService) DeleteMessage(params *DeleteMessageParams) (error) {
    path := "/rest/messaging/v1/delete"
    
data := url.Values{}
headers := make(map[string]interface{})

if params != nil && params.MessageId != nil {
    data.Set("messageId", *params.MessageId)
}



    resp, err := c.requestHandler.Delete(c.baseURL+path, data, headers)
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
}
